MESSAGE_QUEUE_INPUT_DIR=tmp/sanitizer-topic
PUBLISHER_OUTPUT_DIR=tmp/extractor-topic
STORAGE_OUTPUT_DIR=tmp/staging
LOG_LEVEL=info
OTEL_EXPORTER_OTLP_ENDPOINT=http://grafana:4318
OTEL_SERVICE_NAME=extractor
BIGQUERY_DATASET=dev-dataset