MESSAGE_QUEUE_INPUT_DIR=tmp/sanitizer-topic
STORAGE_OUTPUT_DIR=tmp/staging
OTEL_EXPORTER_OTLP_ENDPOINT=http://grafana:4318
OTEL_SERVICE_NAME=ingestion-extractor

STORAGE_MODE=filesystem
MESSAGING_MODE=filesystem
LOGGING_MODE=console
LOGGING_LEVEL=info
OTEL_MODE=local