STORAGE_MODE=filesystem
STORAGE_OUTPUT_DIR=../../tmp/website-backend/submissions
LOGGING_MODE=console
LOGGING_LEVEL=debug
ALGOLIA_APP_ID=
ALGOLIA_SEARCH_KEY=
ALGOLIA_INDEX_NAME=
ALGOLIA_INDEX_NAME_OLDEST=
RECAPTCHA_SITE_KEY=
RECAPTCHA_PROJECT_ID=
GA_MEASUREMENT_ID=
NEXT_PUBLIC_BUILD_NUMBER=development
PORT=4200
