MESSAGE_QUEUE_INPUT_DIR=tmp/ingestor-publisher-output
SANITIZER_POLICY_PATH=apps/sanitizer/assets/policy.yml
ARCHIVER_OUTPUT_DIR=tmp/sanitizer-archive-output
PUBLISHER_OUTPUT_DIR=tmp/sanitizer-publisher-output
LOG_LEVEL=info