TARGET_LIST_PATH=projects/ingestion-ingestor/assets/target-list.csv
STORAGE_OUTPUT_DIR=tmp/archive
PUBLISHER_OUTPUT_DIR=tmp/ingestor-topic
SUCCESS_THRESHOLD=0.8
OTEL_SERVICE_NAME=ingestor

SOURCE_LIST_MODE=filesystem
STORAGE_MODE=filesystem
MESSAGING_MODE=filesystem
LOGGING_MODE=console
LOGGING_LEVEL=debug
OTEL_MODE=local