MESSAGE_QUEUE_INPUT_DIR=tmp/ingestor-topic
SANITIZER_POLICY_PATH=projects/ingestion-sanitizer-service/assets/policy.yml
STORAGE_OUTPUT_DIR=tmp/archive
PUBLISHER_OUTPUT_DIR=tmp/sanitizer-topic
LOG_LEVEL=info
OTEL_EXPORTER_OTLP_ENDPOINT=http://grafana:4318
OTEL_SERVICE_NAME=sanitizer