PULUMI_ACCESS_TOKEN=pul-XXXXXXXXXXXXXXXXXXXXXXXXXXXX
GOOGLE_APPLICATION_CREDENTIALS=news-research-dev-xxxxxxxxx.json
PROJECT_ID=news-research-dev
GITHUB_TOKEN=github_pat_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ALGOLIA_API_KEY=alg_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
