MESSAGING_MODE=filesystem
MESSAGE_QUEUE_INPUT_DIR=tmp/website-submissions
LOGGING_MODE=console
LOGGING_LEVEL=trace
OTEL_MODE=local
OTEL_EXPORTER_OTLP_ENDPOINT=http://grafana:4318
OTEL_SERVICE_NAME=website-emailer
